<div class="row">
	<div class="eleven columns centered fondo">
		<div class="row"> 
			<div class="eleven columns centered">
				<h1 class="Three-Dee">INTRODUCCION</h1>
			</div>
		</div>
		<div class="row">
			<div class="row ten columns centered fondoblanco">
			
				<p><h4>
				
					Una computadora permite al usuario realizar tareas eficientemente, de una manera más rápida y con mayor precisión de lo que el humano sería capaz de hacer de forma manual.
          		  	La computadora ejecuta las instrucciones que el usuario le proporciona, especificando exactamente lo que se pretende hacer y el orden que debe seguir, es decir; proporcionar las instrucciones en forma de programa.
           			La solución de problemas mediante la computadora ha llevado al programador a desarrollar programas o aplicaciones; la construcción de estos programas se obtiene al seguir una serie de pasos de manera ordenada y finita, es decir por medio de un algoritmo.
           			Este capítulo se divide en dos secciones; la primera expone el concepto de algoritmo como base fundamental para el desarrollo de programas y sus diferentes técnicas. Y la segunda sección, el concepto de programa, sus características y las partes fundamentales para la creación de un programa.
     			</h4></p>
     		</div>
		</div>
	</div>
	
	
</div>
