<div class="row">
	<div class="eleven columns centered fondo">
	<br /><br /><br />
	
	<div class="row"> 
			<div class="twelve columns centered">
				<h1 class="Three-Dee">PROGRAMA</h1>
			</div>
	</div>
	
	
	<div class="eleven columns centered">
		<dl class="tabs contained">
  			
  			<dd class="active"><a href="#definicion">DEFINICION</a></dd>
  			<dd class="hide-for-small"><a href="#partes">PARTES DE UN PROGRAMA</a></dd>
  			<dd class="hide-for-small"><a href="#elementos">ELEMENTOS BASICOS</a></dd>
		</dl>
		<ul class="tabs-content contained">
			<li class="active" id="definicionTab">
				<div class="row">
					<div class="ten columns centered fondoblanco">
						 <p><h4>
						 	Un programa de computadora es un conjunto de instrucciones –órdenes dadas a la máquina - que producirán la ejecución de una determinada tarea. En esencia, un programa es un medio para conseguir un fin. El fin será probablemente definido como la información necesaria para solucionar un problema. 
						 	<br /> 
							El proceso de programación es, un proceso de solución de problemas y el desarrollo de un programa requiere las siguientes fases: <br /> <br />

							1.	Definición y análisis del problema;<br />
							2.	Diseño de algoritmos;<br />
							3.	Codificación del programa: <br />
								•	Diagrama de flujo<br />
								•	Diagrama N-S<br />
								•	Pseudocódigo <br />
							4.	Depuración y verificación del programa; <br />
							5.	Documentación;<br /> 
							6.	Mantenimiento.
				 		</h4></p>
				 		<a class="round button colorboton" id="btonejem1prog" href="#"> EJEMPLO 3.1 </a>
					</div>
				</div>	
			</li>
  			
  			<li id="partesTab">
  				<div class="row">
					<div class="ten columns centered fondoblanco">
						<p><h4>
							<br /><br />
							Tras la decisión de desarrollar un programa, el programador debe establecer el conjunto de especificaciones que debe contener el programa: entrada, salida y algoritmos de resolución, que incluirán las técnicas para obtener las salidas a partir de las entradas. 
							<br />
							Conceptualmente un programa puede ser considerado como una caja negra (puede verse en la siguiente figura). La caja negra o el algoritmo de resolución, en realidad, es el conjunto de códigos que transforman las entradas del programa (datos) en salidas (resultados). 
							<br />
							El programador debe establecer de dónde provienen las entradas al programa. Las entradas, en cualquier caso, procederán de un dispositivo de entrada – teclado, disco…-. El proceso de introducir la información de entrada – datos- en la memoria de la computadora se denomina entrada de datos, operación de lectura o acción de leer. 
							<br />
							Las salidas de datos se beben presentar en dispositivos periféricos de salida: pantallas, impresoras, discos, etc. La operación  de salida de datos se conoce también como escritura o acción de escribir.
						</h4></p>	
						<a class="round button colorboton" id="btonejem2prog" href="#"> EJEMPLO 3.2 </a> 
					</div>
				</div>	
  			</li>
  			
  			<li id="elementosTab">
  				<div class="row">
					<div class="ten columns centered fondoblanco">
						 <p><h4>
						 	<br /><br />
						 	Los lenguajes de programación –como los restantes lenguajes- tienen elementos básicos que se utilizan como bloques constructivos, así como reglas para las que esos elementos se combinan. Estas reglas se denominan sintaxis de lenguaje. Solamente las instrucciones sintácticamente correctas pueden ser interpretadas por la computadora y los programas que contengan errores de sintaxis son rechazados por la máquina. Los elementos básicos constitutivos de un programa o algoritmo son: 
						 	<br /><br /> 
								•	Palabras reservadas (inicio, fin, si-entonces…, etc.),<br />
								•	Identificadores (nombres de variables esencialmente, procedimientos, funciones, nombres del programa…, etc.), <br />
								•	Caracteres especiales (coma, apóstrofo, etc.),<br />
								•	Constantes, <br />
								•	Variables, <br />
								•	Expresiones,<br />
								•	Instrucciones.
						</h4> </p>
					</div>
				</div>	
  			</li>
		
		</ul>
	</div>
	</div>
</div>
