<div class="row">
	<div class="eleven columns centered fondo">
	
		<div class="row"> 
				<div class="twelve columns centered">
					<h1 class="Three-Dee">EJERCICIOS PSEUDOCODIGO </h1>
				</div>
		</div>
		<br /><br /><br />
	
		<div class="eleven columns centered">
			<dl class="tabs contained">
  			
  				<dd class="active"><a href="#ejercicio1">EJERCICIO 1</a></dd>
  				<dd class="hide-for-small"><a href="#ejercicio2">EJERCICIO 2</a></dd>
  				<dd class="hide-for-small"><a href="#ejercicio3">EJERCICIO 3</a></dd>
			</dl>
			
			<ul class="tabs-content contained">
				<li class="active" id="ejercicio1Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						
						</div>
					</div>	
				</li>
				
				<li class="active" id="ejercicio2Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						 
						</div>
					</div>	
				</li>
				
				<li class="active" id="ejercicio3Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						 
						</div>
					</div>	
				</li>
			</ul>
		</div>
	</div>
</div>
