<div class="row">
	<div class="eleven columns centered fondo">
	
		<div class="row"> 
				<div class="twelve columns centered">
					<h1 class="Three-Dee">EJERCICIOS ALGORITMO </h1>
				</div>
		</div>
		<br /><br /><br />
	
		<div class="eleven columns centered">
			<dl class="tabs contained">
  			
  				<dd class="active"><a href="#ejercicio1">EJERCICIO 1</a></dd>
  				<dd class="hide-for-small"><a href="#ejercicio2">EJERCICIO 2</a></dd>
  				<dd class="hide-for-small"><a href="#ejercicio3">EJERCICIO 3</a></dd>
			</dl>
			
			<ul class="tabs-content contained">
				<li class="active" id="ejercicio1Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						<a class="round button colorboton" id="btonejercicio1algo" href="#"> INTRUCCIONES </a>
							<br /><br /><br />
						
						<div id="draggable1">INICIO</div> <br />
						<div id="draggable2">Orillar el carro</div> <br />
						<div id="draggable3">Apagar el carro</div> <br />
						<div id="draggable4">Abrir la puerta</div> <br />
						<div id="draggable5">Bajarse del carro</div> <br />
						<div id="draggable6">Cerrar la puerta</div> <br />
						<div id="draggable7">Abrir la cajuela</div> <br />
						<div id="draggable8">Sacar el gato, la llave de cruz y la llanta de repuesto de la cajuela</div> <br />
						<div id="draggable9">Aflojar las tuercas con la llave de cruz(no quitarlas por completo)</div> <br />
						<div id="draggable10">Colocar el gato bajo el carro en la posicion correcta</div>  <br />
						<div id="draggable11">Levantar el carro con ayuda del gato</div>  <br />
						<div id="draggable12">Quitar por completo las tuercas de la llanta</div> <br />
						<div id="draggable13">Quitar la llanta</div>  <br />
						<div id="draggable14">Poner la llanta de repuesto</div> <br />
						<div id="draggable15">Colocar las tuercas</div>  <br />
						<div id="draggable16">Apretar las tuercas con la llave de cruz</div> <br />
						<div id="draggable17">Bajar el carro</div> <br />
						<div id="draggable18">Retirar el gato</div> <br />
						<div id="draggable19">Guardar el gato, la llave de cruz y la llanta ponchada en la cajuela</div> <br />
						<div id="draggable20">Cerrar la cajela</div>  <br />
						<div id="draggable21">Abrir la puerta del carro</div> <br />
						<div id="draggable22">Subir al carro</div> <br />
						<div id="draggable23">Cierrar la puerta</div> <br />
						<div id="draggable24">Enciender el carro</div> <br />
						<div id="draggable25">Ponerlo en marcha</div> <br />
						<div id="draggable26">FIN</div>
						
						
						
							<script>
							$( "#draggable" ).draggable();
							</script>

						</div>
					</div>	
				</li>
				
				<li class="active" id="ejercicio2Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						 
						</div>
					</div>	
				</li>
				
				<li class="active" id="ejercicio3Tab">
					<div class="row">
						<div class="ten columns centered fondoblanco">
						 
						</div>
					</div>	
				</li>
			</ul>
		</div>
	</div>
</div>
