// Place all the styles related to the ejerciciosL1 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  #draggable1 {
            width: 100px;
            height: 20px;
            background: #8c0f8c;
            }

 #draggable2 {
            width: 100px;
            height: 20px;
            background: #8c0f8c;
            }
            
            
h3{
  color: white;
}